//- .nav(ng-class="{'show-responsive-nav':isNavShown}")
//-   ul#navlist
//-     li(ng-repeat="page in pages" ng-class="{active:page.selected}")
//-       a(ui-sref="dashboardPage({ title: '{{page.title}}' })") {{page.title}}
//- .pages(ng-transclude)
