%curved-corners{
  -webkit-border-radius: $corner-radius-standard;
  -moz-border-radius: $corner-radius-standard;
  -ms-border-radius: $corner-radius-standard;
  -o-border-radius: $corner-radius-standard;
  border-radius: $corner-radius-standard;
}
