 {{chatData.username}} in {{chatData.roomId}}
.chat
  .column
    ul.avatars
      li(ng-repeat="message in chatData.messages track by $index")
        .avatar-image-left
          img(src="{{message.avatarUrl}}")
          .username
            p {{::message.username}}
        .speech-bubble-left 
          p {{::message.msg}} 
            span.timestamp {{message.moment}} 
        .clearfix
  .column.right
    form.write-section(id="chatinput")
      textarea(form="chatinput" ng-model="chatinputtext")
      input(type="submit" value="Send" ng-click="submitMessage()")
    .read-section  
  .clearfix
