gravatar-form(is-optional='true')
.user-form
  hr
form.user-form(name="chatLogin")
  h3 Login to a chat room
  label(for='username') User Name
  input.form-control(type='text' name='username' ng-model='formData.username' required placeholder='Input your chat user name')
  label(for='rooms') Available Chat Rooms
  select(name='rooms' ng-model='formData.room' ng-options='room as room.name for room in props.rooms')
  hr
  button(ng-click='joinChat()') Join Room
  p.error-message {{validationError}}
