.chat
  .column
    ul.avatars
      li
        .avatar-image-left
        .speech-bubble-left 
          .speech-bubble-content Hi this is some chat right here right now blah blah blah blah blah blah blah blah blah 
        .clearfix
      li
        .avatar-image-right
        .speech-bubble-right 
          .speech-bubble-content Hi this is some chat right here right now blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah. blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah 
        .clearfix
      li
        .avatar-image-right
        .speech-bubble-right 
          .speech-bubble-content Ok sure why not
        .clearfix
  .column.right
    input.write-section 
    .spacer
    .write-control-section
    .dash-button Send
    .spacer    
    .read-section  
