p Responsive Tabs Demo

responsive-tabs
  responsive-tabs-pane(title="Big & Bouncy")
    h4 1. Big & Bouncy
    p Lorem ipsum dolor sit amet
  responsive-tabs-pane(title="Fish & Chips")
    h4 2. Fish & Chips
    p Lorem ipsum dolor sit amet
  responsive-tabs-pane(title="Bert & Queenie")
    h4 3. Bert & Queenie
    p Lorem ipsum dolor sit amet
  responsive-tabs-pane(title="Mr & Mrs Lucas")
    h4 4. Mr & Mrs Lucas
    p Lorem ipsum dolor sit amet
  responsive-tabs-pane(title="Pandora & Nigel")
    h4 5. Pandora & Nigel
    p Lorem ipsum dolor sit amet
