modal
  modal-content(id='dynamic')
    | {{$parent.service.dynamicMessage}}
  modal-content(id='emailIntercepted')
    | Your emails are being intercepted.
  modal-content(id='wipeHardDrive') 
    | Are you sure you want to wipe your hard drive?
  modal-content(id='deleteAccordionItem') 
    | Are you sure you want to delete this accordion item?
