form.user-form(name="gravatarForm")
  h3 Choose your gravatar
    span(ng-if='isOptional') &nbsp;(optional)
  label(for='email') Email
  input.form-control(type='email' name='email' ng-model='formData.email' ng-required='true' placeholder='Input your gravatar email')
  
  div(ng-if='isShowSettings')
    label(for='size') Image Size (1px to 2048px)
    input.form-control(type='number' min='1' max='2048' name='size' ng-model='formData.size')
    label(for='defaultImage') Default Image &nbsp;
    select(name='defaultImage' ng-model='formData.defaultImage' ng-options='::image as image.name for image in props.defaultImages')
    label(for='rating') Image Rating &nbsp;
    select(name='rating' ng-model='formData.rating' ng-options='::rating as rating.name for rating in props.ratings')
  
  button(ng-if='isShowPreview' ng-click='setAvatarUrl()' ng-disabled='gravatarForm.$invalid') Preview

div(ng-if='isShowPreview') 
  p.avatar-preview(ng-if='isShowPreviewUrl') {{formData.avatarUrl}} 
  p.avatar-preview
    img(src='{{formData.avatarUrl}}')
  
